/* blue - #4b21ff 
   black - #272727
   white letters - #fefefe
   form lines - #a9a9a9
   footer letter - #bdbdbd

*/
* {
  box-sizing: border-box;
}

.App-logo {
  background: white;
  height: 100px;
  width: 200px;

}

.info-section {
  padding: 54px;
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.info-box {
  position: absolute;
  bottom: 60px;
}
.info-box h4 {
  font-size: 1.2rem;
  color: #fefefe;
  margin: 0.7rem 0;
}

.info-box p{
  font-size: 0.9rem;
  font-weight: 300;
  color: #fefefe;
  margin: 0.2rem 0 1.6rem;
}

.content-area {
  margin-left: 35%;
  height: 100vh;
  width: 65%;
  background: white;
  /* padding: 0 0 0 25%; */
  
}
.img-container{ 
  display: inline-block;
  width: 30%;
  position: relative;
  height: 100%;
}

.profile-section {
  vertical-align: top;
  display: inline-block;
}

.user-img {
  position: absolute;
  top: 56px;
  left: -200px;
  width: 400px;
  height: calc(100% - 112px);
  background: url(images/luis.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.profile{

}
