/* blue - #4b21ff 
   black - #272727
   white letters - #fefefe
   form lines - #a9a9a9
   footer letter - #bdbdbd

*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:#272727;
  height: 150px;
  padding: 20px;
  color: #fefefe;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  color: #fefefe;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
